Source: gsignond-plugin-lastfm
Section: admin
Priority: optional
Maintainer: Corentin Noël <corentin@elementary.io>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libaccounts-glib-dev,
               libglib2.0-dev (>= 2.32.0),
               libgsignon-glib-dev,
               libgsignond-common-dev,
               libjson-glib-dev,
               libpantheon-online-accounts-dev,
               libsoup2.4-dev,
               valac (>= 0.28)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/gsignond-plugin-lastfm
Vcs-Bzr: lp:gsignond-plugin-lastfm
Vcs-Browser: https://code.launchpad.net/~elementary-pantheon/gsignond-plugin-lastfm/trunk

Package: gsignond-plugin-lastfm
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Enhances: switchboard, gsignond, switchboard-plug-online-accounts
Recommends: pantheon-online-accounts-plugin-lastfm
Description: gSSO Last.fm plugin
 Last.fm plugin for GLib based Single Sign-On

Package: pantheon-online-accounts-plugin-lastfm
Architecture: any
Depends: gsignond-plugin-lastfm, ${misc:Depends}, ${shlibs:Depends}
Description: Online Accounts plugin for single signon - Last.fm
 Online accounts plugin for single signon

